.searchPage__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-evenly; */
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.filters {
  /* align-self: center; */
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
